<div class="card-columns m-5 animated fadeIn">
    <div class="card puntero" *ngFor="let cancion of canciones" (click)="verArtista( cancion )">
        <img [src]="cancion.images | noimg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ cancion.name }}</h5>
            <p class="card-text">
                <a *ngFor="let artista of cancion.artists" href="#" class="badge badge-dark">{{ artista.name }}</a>
            </p>
        </div>
    </div>
</div>