<app-loading *ngIf="loading"></app-loading>
<div class="alert alert-danger animated fadeIn" *ngIf="error">
    <h3>
        Error
    </h3>
    <p>
        {{mError}}
    </p>
</div>
<app-card [canciones]="nuevasCanciones"></app-card>