<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
    </div>
</div>
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-card *ngIf="!loading" [canciones]="artistas"> </app-card>